appdirs==1.4.3
asn1crypto==0.22.0
aspell-python-py3==1.15
attrs==17.2.0
Automat==0.6.0
backports.weakref==1.0rc1
beautifulsoup4==4.6.0
bleach==1.5.0
boto==2.47.0
bs4==0.0.1
bz2file==0.98
cffi==1.10.0
click==6.7
constantly==15.1.0
corenlp-python==3.4.1.post1
cryptography==3.2
cssselect==1.0.1
cymem==1.31.2
cytoolz==0.8.2
deap==1.0.2
dill==0.2.7.1
en-core-web-sm==1.2.0
Flask==0.12.2
ftfy==4.4.3
future==0.16.0
gensim==2.2.0
gevent==1.2.2
google-compute-engine==2.4.0
goose-extractor==1.0.25
greenlet==0.4.12
h5py==2.7.0
html2text==2016.9.19
html5lib==0.9999999
hyperlink==17.3.0
idna==2.6
incremental==17.5.0
itsdangerous==0.24
jieba==0.38
Jinja2==2.9.6
jsonrpclib-pelix==0.2.9
Keras==2.0.6
Lasagne==0.2.dev1
lda==1.0.5
lxml==3.8.0
Markdown==2.6.8
MarkupSafe==1.0
msgpack-python==0.4.8
murmurhash==0.26.4
nltk==3.2.2
numpy==1.13.0
packaging==16.8
pandas==0.20.3
parsel==1.2.0
pathlib==1.0.1
pbr==3.1.1
pexpect==4.2.1
plac==0.9.6
ply==3.10
ppp-cli==0.2
ppp-datamodel==0.6.11
ppp-datamodel-notation-parser==0.1.8
ppp-libmodule==0.7.7
ppp-questionparsing-grammatical==0.6.5
preshed==1.0.0
protobuf==3.3.0
ptyprocess==0.5.1
pyasn1==0.3.2
pyasn1-modules==0.0.11
pycparser==2.18
PyDispatcher==2.0.5
Pygments==2.2.0
pymongo==3.5.0
pyOpenSSL==17.2.0
pyparsing==2.2.0
python-dateutil==2.6.0
python3-memcached==1.51
pytz==2017.2
PyYAML==3.12
pyzmq==16.0.2
queuelib==1.4.2
rake-nltk==1.0.1
regex==2017.7.28
requests==2.13.0
scikit-learn==0.18.2
scipy==0.19.1
Scrapy==1.4.0
service-identity==17.0.0
six==1.10.0
sklearn==0.0
smart-open==1.5.3
spacy==1.9.0
stop-words==2015.2.23.1
Suplemon==0.1.59
tensorflow==1.1.0
termcolor==1.1.0
Theano==0.8.0
thinc==6.5.2
toolz==0.8.2
TPOT==0.8.3
tqdm==4.14.0
Twisted==17.5.0
ujson==1.35
Unidecode==0.4.20
update-checker==0.16
w3lib==1.18.0
wcwidth==0.1.7
Werkzeug==0.12.2
wrapt==1.10.10
xgboost==0.6a2
xmltodict==0.10.2
zerorpc==0.6.1
zope.interface==4.4.2
